@model IEnumerable<Post>

<div id="last3PostsCaptions" class="carousel slide my-3" data-bs-ride="carousel">
    <div class="carousel-indicators mb-0">
        <button type="button" data-bs-target="#last3PostsCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#last3PostsCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#last3PostsCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @{
            var act = "active";
            foreach (var item in Model)
            {
                <div class="carousel-item @act">
                    <div class="ratio ratio-21x9">
                        <a asp-controller="Blog" asp-action="Post" asp-route-Id="@item.Id">
                            <img src='@item.FeaturedImage??"/img/kappa_img.svg"' alt="@item.Title" class="d-block w-100 img-fluid rounded-3" style="object-fit:cover;" onerror="this.onerror=null; this.src='/img/kappa_img.svg'">
                        </a>
                    </div>
                    <div class="col-12 bg-secondary carousel-caption d-none d-md-block" style="bottom:0; right:0; left:0; --bs-bg-opacity: .8;">
                        <a class="text-decoration-none text-white" asp-controller="Blog" asp-action="Post" asp-route-Id="@item.Id">
                            <h5>@item.Title</h5>
                        </a>
                        <a class="text-decoration-none text-white" asp-controller="Blog" asp-action="Author" asp-route-Id="@item.Blog.Author.UserName">
                            <span>By @item.Blog.Author.FirstName @item.Blog.Author.LastName</span>
                        </a>
                    </div>
                </div>
                act = "";
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#last3PostsCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#last3PostsCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>