@model IEnumerable<KappaPortal.Models.Post>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-6">
            <div class="card h-100">
                <a asp-controller="Blog" asp-action="Post" asp-route-Id="@item.Id">
                    <div class="ratio ratio-16x9">
                        <img src='@item.FeaturedImage??"/img/kappa_img.svg"' class="card-img-top" alt="@item.Title" style="object-fit:cover;" onerror="this.onerror=null; this.src='/img/kappa_img.svg'" />
                    </div>
                </a>

                <div class="card-body pt-1 d-flex flex-column">
                    <p class="text-start text-uppercase text-muted mb-1 small">
                        Posted on
                        <a class="text-decoration-none" asp-controller="Blog" asp-action="Index" asp-route-Id="@item.BlogId">
                            @item.Blog.Title
                        </a>
                    </p>
                    <a class="text-decoration-none text-black" asp-controller="Blog" asp-action="Post" asp-route-Id="@item.Id">
                        <p class="text-start card-text fs-5">@item.Title</p>
                    </a>
                    <p class="text-start text-uppercase text-muted mt-auto mb-0 small">
                        @String.Format("{0:yyyy/MM/dd}",item.TimeStamp) |
                        <a class="text-decoration-none" asp-controller="Blog" asp-action="Author" asp-route-Id="@item.Blog.Author.UserName">
                            @item.Blog.Author.FirstName @item.Blog.Author.LastName
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>